<div class="container">
  <div class="m-5">
  <div class="row mt-5 pt-5">
    <div class="col-12">
      <h1 class="text-center mb-0">RELEASE</h1>
      <p class="text-center">LiSA</p>
    </div>
  </div>
  <div class="row mt-5 pt-5">
    <div class="col-6 pr-5">
    <%= image_tag @release.release_image, class: "img1" if @release.release_image .present? %>
    </div>
    <div class="col-6 pl-5">
      <div class="row">
        <%= @release.sub_title %>
      </div>
      <h2 class="row mt-3">
        <%= @release.main_title %>
      </h2>
      <div class="row mt-3">
        <%= @release.release_day %>
      </div>
      <div class="row">
        <%= @release.detail %>
      </div>
      <div class="mt-3">
      <% @release.musics.each do |music| %>
        <div class="row">
          <h1 class="col-1">
            <%= @sum += 1 %>
          </h1>
          <h3 class="col-6 mt-2">
            <%= music.music_title %>
          </h3>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to "編集", edit_release_path(@release) %>
  </div>
  <div class="row">
    <%= link_to "削除", release_path(@release), method: :delete %>
  </div>
  <div class="row">
    <h5 class="col-12 text-center mt-5 pt-5 mb-5 pb-5">
      <%= link_to "←　BACK", "/releases", class: 'text-dark' %>
    </h5>
  </div>
</div>
